{
	default_bind 0.0.0.0
	admin off
	auto_https off
	servers {
		trusted_proxies static 173.245.48.0/20 103.21.244.0/22 103.22.200.0/22 103.31.4.0/22 141.101.64.0/18 108.162.192.0/18 190.93.240.0/20 188.114.96.0/20 197.234.240.0/22 198.41.128.0/17 162.158.0.0/15 104.16.0.0/13 104.24.0.0/14 172.64.0.0/13 131.0.72.0/22 2400:cb00::/32 2606:4700::/32 2803:f800::/32 2405:b500::/32 2405:8100::/32 2a06:98c0::/29 2c0f:f248::/32 100.64.0.0/10
		client_ip_headers CF-Connecting-IP X-Forwarded-For X-Real-IP
	}
}
:8001 {
	root * /var/www/html
	file_server
	header {
		X-FRAME-OPTIONS DENY
	}
	log {
		no_hostname
	}
	encode zstd gzip

	redir /favicon.ico /assets/favicon.ico 301

	# Since the production domain, akabe.co, was once a Mastodon instance, 410 Gone should be responded to the ActivityPub requests.
	respond /inbox "This is no longer a Mastodon instance." 410 {
		close
	}
	respond /.well-known/webfinger "This is no longer a Mastodon instance." 410 {
		close
	}
	respond /.well-known/nodeinfo "This is no longer a Mastodon instance." 410 {
		close
	}
	respond /.well-known/host-meta "This is no longer a Mastodon instance." 410 {
		close
	}
	respond /.well-known/instance "This is no longer a Mastodon instance." 410 {
		close
	}
	respond /nodeinfo/* "This is no longer a Mastodon instance." 410 {
		close
	}
	respond /api/v1/* "This is no longer a Mastodon instance." 410 {
		close
	}
}
